<section class="module parallax parallax-1 row">
	<div class="container">
		<div class="header col-md-12 hidden-xs"> 
			<h1>The Best Apartment Ever</h2>
			<h3>(AKA: Your new home, maybe)</h3>
			<h5>$1475 a month</h5>
		</div>
	</div>
</section>

<div class="project row">
	<div class="container">
		<div class="col-xs-12">
			<div class="header col-md-12 visible-xs"> 
					<h1>The Best Apartment Ever</h1>
					<h3>(AKA: Your new home, maybe)</h3>
					<h5>$1500 a month</h5>
			</div>
		</div>
		<div class="col-sm-8 col-sm-offset-2 col-xs-10 col-xs-offset-1">
			<h4 class="inline">My current roommate is moving to Seattle and I'm looking for a new one! My apartment is located in Greenwich Village at</h4> 
			<a href="https://www.google.com/maps/place/79+Macdougal+St,+New+York,+NY+10012/@40.7288433,-74.0016516,17z/data=!3m1!4b1!4m2!3m1!1s0x89c259921198e7c5:0x7976c0292bf43629" target="_blank">Macdougal and Bleecker</a>
			<h4 class="inline">, right down the street from Washington Square Park.</h4>
		</div>
	</div>
</div>

<div class="container">
	<div class="col-sm-4 col-xs-12">
		<img src="/img/main-1.jpg" class="img-responsive"/>
	</div>
	<div class="col-sm-4 col-xs-6">
		<img src="/img/main-3.jpg" class="img-responsive"/>
	</div>
	<div class="col-sm-4 col-xs-6">
		<img src="/img/main-2.jpg" class="img-responsive"/>
	</div>
</div>

<div class="project project-bg project-margin row">
	<div class="container">
		<div class="col-sm-8 col-sm-offset-2 col-xs-10 col-xs-offset-1">
			<h4 class="inline">The building is <bold>rent stabilized</bold>!! So, we pay a much lower rent than our neighbors. I have lived in the apartment for 4 years and have never had any issues. The building is always clean and the super is very responsive.</h4>
		</div>
	</div>
</div>


<div class="container project">
	<div class="col-md-4">
		<img src="/img/window-view.jpg" class="img-responsive"/>
	</div>
	<div class="col-md-6 col-md-offset-1 col-xs-10 col-xs-offset-1">
		<div class="text-group">
			<h2>The Location</h2>
			<h6>It's <b>the most</b> convenient place I've ever lived. The <b>West 4th</b> subway stop (A, C, E, B, D, F, M) is a one minute walk from the apartment. The 1 train is also very close.</h6>
			<h6>Macdougal is an incredible street to live on - any type of food you could ever want, tons of places to see comedy shows or live music.</h6>
			<h6>If you stand in the middle of the street outside the apartment, you can see the Freedom Tower on one end and Empire State on the other. It's pretty epic, unless you get hit by a taxi.</h6>

		</div>
	</div>
</div>

<section class="module parallax parallax-2 row">
</section>

<div class="project row">
	<div class="container">
		<div class="col-xs-10 col-xs-offset-1 col-sm-8 col-sm-offset-2">
			<h2>The Apartment</h2>
			<h4>The main living area gets a ton of <b>natural light</b>! The view out the window is amazing - brightly painted town houses. The kitchen is fairly small. We have an oven, stove, and fridge - no dishwasher.</h4>
		</div>
	</div>
</div>

<div class="container">
	<div class="col-sm-4 col-xs-6">
		<img src="/img/bedroom.jpg" class="img-responsive"/>
	</div>
	<div class="col-sm-4 col-xs-6">
		<img src="/img/snow.jpg" class="img-responsive"/>
	</div>
	<div class="col-sm-4 col-xs-12">
		<img src="/img/bathroom.jpg" class="img-responsive"/>
	</div>
	
</div>

<div class="project project-bg project-margin row">
	<div class="container">
		<div class="col-xs-10 col-xs-offset-1">
			<h2>Your Room</h2>
			<h4>Okay, so it's small, BUT you would pay <b>$100 less in rent</b> than I do each month. Also, my roommate is happy to sell her bed and mattress to whoever moves in to the room, so you won't need to move your bed in (unless you'd prefer to do that). She bought both the bed and the mattress in October, so they are almost brand new. Both bedrooms are set back from the street away from any outside noise.</h4>
		</div>
		<div class="col-xs-10 col-xs-offset-1 col-sm-8 col-sm-offset-2">
			<img src="/img/your-room.jpg" class="img-responsive project-2"/>
		</div>
	</div>
</div>

<div class="project row">
	<div class="container">
		<div class="col-xs-10 col-xs-offset-1 col-sm-8 col-sm-offset-2">
			<h2>Monthly Expenses</h2>
			<ul>
				<li><b>Rent:</b> $1475</li>
				<li><b>Gas/Electricity:</b> $40-50</li>
				<li><b>Wifi:</b> $40</li>
			</ul>
			<h6>I also have a cleaning lady that comes every other week to clean the apartment. My current roommate and I split the cost, so you would pay $32</h6>
		</div>
	</div>
</div>

<div class="project project-bg row">
	<div class="container contact">
		<div class="col-xs-10 col-xs-offset-1 col-sm-8 col-sm-offset-2">
			<div class="row">
				<div class="col-sm-4 col-sm-offset-0 col-xs-6 col-xs-offset-3">
					<img src="/img/laura-pic.png" class="img-responsive"/>
				</div>
				<div class="col-sm-7 col-sm-offset-1 col-xs-10 col-xs-offset-1">
					<h2>Interested?!!</h2>
					<h6>I'm hoping to find someone to move in at the end of May and sublease for a year.</h6>
					<h4 class="hidden-xs"><b>Email me ASAP:</b>  Laura.Groetzinger@gmail.com</h4>
					<h4 class="visible-xs smaller-h4"><b>Email me ASAP:</b> <a href="mailto:laura.groetzinger@gmail.com?Subject=The%20Greatest%20Apartment!" target="_top">Laura.Groetzinger@gmail.com</a></h4>
				</div>
			</div>
		</div>
	</div>
</div>

